@import url('https://fonts.googleapis.com/css2?family=Modak&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

main {
    margin: 10vh auto;
    width: 80vw;
    background: #FED7AA;
    border-radius: 10px;
    border: 1px solid black;
}

form {
    padding: 5vh;
}

textarea {
    resize: none;
}

label {
    font-size: 2.5vh;
}

input {
    width: 60vw;
    height: 4vh;
    background: #FED7AA;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 2.5vh;
}

div {
    margin: 3vh 0;
}

textarea {
    width: 100%;
    background: #FFEDD5;
}

input[type = file]{
    display: none;
}